.button {
    -fx-padding: 15px 25px;
    -fx-font-size: 12px;
    -fx-cursor: pointer;
    -fx-text-align: center;
    -fx-background-color: #0095C7;
    -fx-border-radius: 15px;
    -fx-text-fill: white;
}

.button:hover { -fx-background-color: #003271}

.button:active {
    -fx-background-color: #91D6FF;
}

.selected {
    -fx-background-color: #91D6FF;
}


