.button {
    -fx-padding: 15px 25px;
    -fx-font-size: 12px;
    -fx-cursor: pointer;
    -fx-text-align: center;
    -fx-background-color: #4CAF50;
    -fx-border-radius: 15px;
    -fx-text-fill: white;
}

.button:hover { -fx-background-color: #3e8e41}

.button:active {
    -fx-background-color: #3e8e41;
}

.selected {
    -fx-background-color: #55DD8F;
}
.disable {
    -fx-background-color: #55668F;
}


